
<%- include partials/header.ejs %>
<body id="page-top">
    <div id="wrapper">
      <%- include partials/newside.ejs %>

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">   
            <div  class="container-fluid">
                <h3 class="text-dark mb-4">Stock</h3>
                <div class="card shadow">
                    <div class="card-header py-6">
                        <p class="text-primary m-0 font-weight-bold">Stock Info</p>
                    </div>
                    
                    
                    <div class="card-body prod-scroll">
                        <!-- <div class="row">
                            <div class="col-md-6 text-nowrap">
                                <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label>Show&nbsp;<select class="form-control form-control-sm custom-select custom-select-sm"><option value="10" selected="">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select>&nbsp;</label></div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-md-right dataTables_filter" id="dataTable_filter"><label><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search"></label></div>
                            </div>
                        </div> -->
                        
                        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                            <table class="table dataTable my-0" id="dataTable">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Category</th>
                                        <th>Price</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                            <% products.forEach(function(val){ %>
                                     <tr id="productDisplay">
                                        <td><img class="rounded-circle mr-2" width="50" height="50" src="<%= val.photo %>"><%= val.name %></td>
                                        <td><%= val.category %></td>
                                        <td>₹<%= val.price %></td>
                                        <td><a href="/updateProduct/<%= val.id %>"><button class="btn-secondary btn-sm editBtn" type="submit">Edit</button></a>                          
                                        </td>
                                        <td><a href="/deleteProduct/<%= val.id %>"><button class="btn-danger btn-sm" type="button">delete</button></a>                          
                                        </td>
                                    </tr>
                                    <tr id="editForm" style="display: none;">
                                    <form  action="/editProduct" method="post">
                                        <td><img class="rounded-circle mr-2" width="50" height="50" src="<%= val.photo %>"><input class="input-prod" type="text" name="name" id="" placeholder="<%= val.name %>"></td>
                                        <td><input class="input-prod" style="width: 10vw; border-radius: 5px; outline: none; border: 1px solid rgb(236, 230, 230);" type="text" name="category" id="" placeholder="<%= val.category %>"></td>
                                        <td>₹<input class="input-prod" type="text" name="price" id="" placeholder="<%= val.price %>"></td>
                                        <td><button class="btn-success btn-sm" type="submit">update</button></td>
                                        <td><a href="/deleteProduct/<%= val.id %>"><button class="btn-danger btn-sm" type="button">delete</button></a>                          
                                        </td>
                                    </form>
                                    </tr>
                                    
                                    <% }) %>
                                    
                                </tbody>
                                
                                <tfoot>
                                    <tr></tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-6 align-self-center">
                                <!-- <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p> -->
                            </div>
                            <!-- <div class="col-md-6">
                                <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                    <ul class="pagination">
                                        <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                    </ul>
                                </nav>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <%- include partials/mobileNav.ejs %>

        <!-- <div class="sizeMsg">
            <h1>Sorry! can't load this page.</h1>
            <h4>Please use any <b>Laptop</b> Or <b>Desktop</b> to view page content. <br><br> [ Minimum Screen Size <b>1025px</b> ]</h4>
          </div> -->
      <%- include partials/footer.ejs %>